
config dnsproxy 'global'
	option enabled '1'
	list listen_addr '127.0.0.1'
	list listen_port '5350'
	option log_file '/var/dnsproxy.log'
	option all_servers '0'
	option fastest_addr '0'
	option rate_limit '0'
	option refuse_any '1'
	option verbose '0'

config dnsproxy 'bogus_nxdomain'
	list ip_addr ''

config dnsproxy 'cache'
	option enabled '1'
	option cache_optimistic '1'
	option size '900000'
	option min_ttl '43200'
	option max_ttl '86400'

config dnsproxy 'dns64'
	option enabled '0'
	option dns64_prefix '64:ff9b::'

config dnsproxy 'edns'
	option enabled '0'

config dnsproxy 'servers'
	list bootstrap '223.5.5.5'
	list upstream 'https://dns.alidns.com/dns-query'

