
# For documents, please see https://github.com/AdguardTeam/dnsproxy#usage

config dnsproxy 'global'
	option enabled '1'
	option listen_addr '127.0.0.1'
	option listen_port '5350'
	option log_file ''
	option all_servers '1'
	option fastest_addr '0'
	option insecure '0'
	option ipv6_disabled '0'
	option rate_limit '0'
	option refuse_any '1'

config dnsproxy 'cache'
	option enabled '1'
	option cache_optimistic '1'
	option size '65535'
	option min_ttl '43200'
	option max_ttl '86400'

config dnsproxy 'servers'
	list bootstrap '211.138.180.2'
	list bootstrap '211.138.180.3'
	list upstream 'https://dns.alidns.com/dns-query'

